server {
    listen 80;
    listen [::]:80;
    server_name www.bannerbro.com;
    return 302 https://$server_name$request_uri;
}

server {
    listen 443;
    listen [::]:443;

    server_name www.bannerbro.com;
    client_max_body_size 100M;

    location / {
        proxy_pass http://172.16.0.1:3000;
    }
}