server {
    listen 80;
    listen [::]:80;
    server_name www.bannerbro.com bannerbro.com;
    return 302 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443;

    ssl_certificate /etc/ssl/sslbundle.crt;
    ssl_certificate_key /etc/ssl/sslbundle.key;

    server_name www.bannerbro.com bannerbro.com;

    location / {
        proxy_pass http://172.16.0.1:3000;
    }
}